*.sublime-project
*.DS_Store

*.slo
*.lo
*.o
*.obj

# libs
*.a

# directories
build/
.cache/

# cmake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
install_manifest.txt 
compile_commands.json
